<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

	</appSettings>
	<connectionStrings>
		<add name="MsSqlLogDb_1" connectionString="Provider=SQLOLEDB.1;Password=Akd!3k.2?-kOs;Persist Security Info=True;User ID=dblogadmin;Initial Catalog=LOGS;Data Source=LOCALHOST\MSSQLPAYG" providerName="System.Data.SqlClient" />
		<add name="MsSqlLogDb" connectionString="Data Source=LOCALHOST\MSSQLPAYG;Initial Catalog=LOGS;Persist Security Info=False;User ID=dblogadmin;Password=Akd!3k.2?-kOs; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="MsSqlLogDb_2" connectionString="Data Source=LOCALHOST\MSSQLPAYG;Initial Catalog=LOGS;Persist Security Info=False;User ID=dbpaygadmin;Password=Akd!3k.2?-kOs; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="MsSqlLogDb_3" connectionString="Data Source=LOCALHOST\MSSQLPAYG;Initial Catalog=LOGS;Persist Security Info=False;User ID=root;Password=r)0k23--mJd?d1+=; TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>