<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="traceDir" value="/logs/trace/${date:format=yyyyMMdd}"/>
	<variable name="errorDir" value="/logs/error/${date:format=yyyyMMdd}"/>
	<variable name="infoDir" value="/logs/info/${date:format=yyyyMMdd}"/>
	<variable name="debugDir" value="/logs/debug/${date:format=yyyyMMdd}"/>
	<variable name="trackDir" value="/track"/>
	<targets>
		<target name="logDebug" xsi:type="File"
			 layout="${longdate} | ${uppercase:${level}} | ${message}"
			 fileName="${basedir}/${debugDir}/${shortdate:format=yyyyMMdd}.log"
			 archiveFileName="${basedir}/${debugDir}/archive/${shortdate:format=yyyyMMdd}.{####}.log"
			 archiveAboveSize="10485760"
			 archiveNumbering="Sequence"
			 concurrentWrites="true"
             keepFileOpen="false"/>

		<target name="logInfo" xsi:type="File"
			 layout="${longdate} | ${uppercase:${level}} | ${message}"
			 fileName="${basedir}/${infoDir}/${shortdate:format=yyyyMMdd}.log"
			 archiveFileName="${basedir}/${infoDir}/archive/${shortdate:format=yyyyMMdd}.{####}.log"
			 archiveAboveSize="10485760"
			 archiveNumbering="Sequence"
			 concurrentWrites="true"
			 keepFileOpen="false"/>

		<target name="logError" xsi:type="File"
			 layout="${longdate} | ${uppercase:${level}} | ${message}"
			 fileName="${basedir}\${errorDir}\${shortdate:format=yyyyMMdd}.log"
			 archiveFileName="${basedir}/${errorDir}/archive/${shortdate:format=yyyyMMdd}.{####}.log"
			 archiveAboveSize="10485760"
			 archiveNumbering="Sequence"
			 concurrentWrites="true"
             keepFileOpen="false"/>

		<target name="logTrackSteps" xsi:type="File"
			 layout="${message}"
			 fileName="${basedir}\${trackDir}\STEPS-${date:format=yyyyMMddHHmm}.json"
			 concurrentWrites="true"
             keepFileOpen="false"/>

		<target name="logTrackComponent" xsi:type="File"
			 layout="${longdate} | ${message}"
			 fileName="${basedir}\${infoDir}\ELE\${shortdate:format=yyyyMMdd}.log"
			 archiveFileName="${basedir}/${infoDir}/archive/${shortdate:format=yyyyMMdd}.{####}.log"
			 archiveAboveSize="10485760"
			 archiveNumbering="Sequence"
			 concurrentWrites="true"
             keepFileOpen="false"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logDebug" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="logInfo" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="logError" />
		<logger name="tracksteps" minlevel="Info" maxlevel="Info" writeTo="logTrackSteps" />
		<logger name="trackcomponent" minlevel="Info" maxlevel="Info" writeTo="logTrackComponent" />
	</rules>
</nlog>